/* Expandable sections */
.expandable-section
  margin-top: 2.25rem
  border-top: 1px solid
  border-bottom: 1px solid
  padding: 0.75rem 0

.expandable-section
  h1
    margin: 0
    padding: 0

[id^="js-expandable-"]
  margin: 0
  padding: 1.5rem 0 0.75rem

@media screen
  .expandable-section+.expandable-section
    margin-top: 0
    border-top: 0

[data-expands]
  text-align: left
  color: #111
  border: 0
  background: none
  width: 100%
  padding: 0
  margin: 0
  display: flex
  align-items: center
  justify-content: space-between
  cursor: pointer

[data-expands]
  svg
    margin-top: 0
    width: 1em
    height: 1em

[data-expands][aria-expanded="true"]
  svg
    .up-strut
      display: none

[data-expands]:focus
  outline: none

@media print
  .expandable-section
    border: 0
    padding: 0

  .expandable-section+p
    margin-top: 0.75rem

  [id^="js-expandable-"]
    display: block

  [data-expands]
    svg
      display: none
